<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> TODO App</title>
    <link rel="stylesheet" type="text/css" href="/css/home-styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <h1 class="heading">TODO App</h1>
    <main>
        <!-- Form to create an item in the list using post request -->
        <form action="/create-item" method="POST" class="mb1" id="add-note-form">
            <div class="mb1">
                <div class="headers mt1 ml1">DESCRIPTION</div>
                <input type="text" class="input-fields ml1 mr1" name="description" required>
            </div>

            <!-- Flex div for category and due date -->
            <div class="flex row spc-evn mb1">
                <div class="flex col start  mr1">
                    <div class="headers ml1">CATEGORY</div>
                    <select class="input-fields ml1 mr1" name="category" required>
                        <option value="none">Choose a Category</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

                <!-- Calendar div -->
                <div id="calendar-container" class="flex col start mr1">
                    <div class="headers ml1">DUE DATE</div>
                    <div><input type="text" id="calendar" class="input-fields ml1" name="date" required /></div>
                </div>
            </div>

            <!-- Submit button container which submits out form and sends data  -->
            <div id="button-container" class="flex row center">
                <div>
                    <button class="btn" id="btn-add" type="submit"><i class="fas fa-plus icon"></i><span
                            class="btn-text">Add Task</span></button>
                </div>
            </div>
        </form>

        <!-- Delete button which submits out form and sends selected items to be deleted(their unique ids) data  -->
        <form action="/delete-item" method="GET" id="delete-notes-form"> 
            <div class="flex row center">
                <button class="btn mb1" id="btn-delete" type="submit"><i class="fas fa-trash icon"></i><span class="btn-text">Delete
                        Tasks</span></button>
            </div>

            <div id="dropdown-container" class="flex row center">
                <!-- Dropdown for sort  -->
                <div id="dropdown-sort-container" class="mb1 mt1 mr1">
                    <label for="dropdown-sort" class="mr1">Sort By</label>
                    <select name="sort-items" id="dropdown-sort">
                        <option value="default" selected>None</option>
                        <option value="due-date">Due Date</option>
                        <option value="created-at">Created At</option>
                        <option value="updated-at">Updated At</option>
                    </select>
                </div>

                <!-- Dropdown for filter according to category  -->
                <div id="dropdown-filter-container" class="mb1 mt1 mr1">
                    <label for="dropdown-filter" class="mr1">Filter</label>
                    <select name="filter-items" id="dropdown-filter">
                        <option value="">Choose</option>
                        <option value="none">None</option>
                        <option value="Personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Others">Others</option>
                    </select>
                </div>

            </div>
            


            <!-- List container which consists of each item in the list, getting populated by iterating over toDoList array -->
            <div class="flex col start mb1 list-container" id="to-do-items-list">
                <% for(let i of to_do_list) 
                    {%>
                        <div id="container-<%=i._id%>" class="flex row start list-item-container">
                            <div class="checkbox-container">
                                <input type="checkbox" class="item-input-box" name = <%= i._id %>>
                            </div>
                            <div class="flex col start description-container">
                                <div class="description"><%= i.description %></div>
                                <div class="date-container">
                                    <i class="fas fa-calendar-alt mr1"></i>
                                    <span>Due Date:</span>
                                    <span class="date"><%= i.date %></span>
                                </div>
                                <div class="date-container">
                                    <i class="fas fa-calendar-alt mr1"></i>
                                    <span>Date Added:</span>
                                    <span class="date"><%= i.createdAt %></span>
                                </div>
                            </div>

                            <div>
                                <% if (i.category !== "none") { %>
                                    <div id="cat" class="category category-container">
                                        <span class="category-text"><%= i.category %></span>
                                    </div>
                                    <% } 
                                %>
                            </div>
                        </div>
                    <%} 
                %>
            </div>
        </form>

        


    </main>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <script type="text/javascript" src="/js/home-script.js"></script>
</body>

</html>